<%= render partial: "layouts/merchant_header", locals: {merchant: @merchant} %>

<h1>My Discounts</h1>

<%= button_to "New Discount", new_merchant_bulk_discount_path(@merchant), method: :get%>

<% @merchant.bulk_discounts.each do |discount| %>
  <div id="discount-<%= discount.id %>">
    <h4>Discount <%= link_to discount.id, merchant_bulk_discount_path(@merchant, discount) %>:
      <%= discount.percentage %>% off
      <%= discount.quantity %> items </h4>
  </div>
<% end %>
